<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <style>
.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>
</head>
<body>
<header style="height: 30px;background-color: maroon;">
</header>
<div class="container">
  <h2>Customer Change Password
  </h2>
  <img th:src="@{/images/security_questions.png}" alt="Logo" style="height: 140px"/>
   <br/>
   
   <span th:utext="${error}" style="color: red;font-size: 18px;font-weight: bold;"></span>
      
      <span th:utext="${message}" style="color: blue;font-size: 18px;font-weight: bold;"></span>
      
  <div style="width: 70%">
   
   <form th:action="@{/customer/changePassword}" method="POST">
    <div class="form-group">
      <label for="cp"><b>Current Password:</b></label>
        <input type="password"  class="form-control"   name="currentPassword">
    </div>
  <div class="form-group">
      <label for="np"><b>New Password:</b></label>
        <input type="password"  class="form-control"   name="newPassword">
    </div>
    
      <div class="form-group">
      <label for="np"><b>Confirm Password:</b></label>
        <input type="password"  class="form-control"   name="confirmPassword">
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
    <a th:href="@{/customer/account/enquiry}"> 
    <button type="button" class="btn btn-warning">Bank</button>
    </a>
  </form>
  </div>
</div>
<footer  class="ffooter">
</footer>

</body>
</html>
