<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Customer Enquiry Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="js/bootstrap.min.js"></script>
  
  <style>
.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}

</style>

<script type="text/javascript">
	/* 
	$("form").submit(function(event)){
		
	}
	 */
	
</script>

</head>
<body>
<header style="height: 30px;background-color: maroon;">
</header>

<div class="container">
  <h2>Customer Deposit Page
  </h2>
  <img th:src="@{/images/deposit.png}" alt="Logo" style="height: 120px"/>
  <div style="width: 70%">
  
   <form th:action="@{/customer/account/deposit}" method="POST" th:object="${customerAccountVO}" >
  
  <div class="form-group">
      <label for="accNumber">Enter Account Number:</label>
      <input type="text" style="width: 60%;" class="form-control" name="accNumber" id="accNumber" th:field="*{accountNumber}" placeholder="Enter account number">
    </div>
    
    <div class="form-group">
      <label for="confirmAccNO">Confirm Account Number:</label>
      <input type="text" style="width: 60%;" class="form-control" id="accNoConfirm" th:field="*{confirmaccountNumber}" placeholder="Confirm account number">
    </div>
  
    <div class="form-group">
      <label for="depositAmount">Enter Amount to Deposit:</label>
      <input type="text" style="width: 60%;" class="form-control" name="amtDeposit" id="amtDeposit" th:field="*{tavBalance}" placeholder="Enter Amount">
    </div>
    
    <div class="form-group">
		<label for="transferDtae">Transfer Date</label>
		<input th:type="date" name="date" class="form-control" style="width:40%;">   
    </div>
   
    <button type="submit" class="btn btn-primary">Deposit</button>
    <a th:href="@{/customer/dashboard}"> 
    <button type="button" class="btn btn-danger">Cancel</button>
    </a>
    
  </form>
  </div>
</div>
<footer  class="ffooter">
</footer>

</body>
</html>
