<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Forget Password</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <style>
.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>

 <script type="text/javascript">
 
       function clearMsg(){
    	   $("#errorMessage").html("");
       }  
       
       ////{   "loginid":"nagen@gmail.com",
	 //      "passcode":"2938939",
	  //      "newpassword":"*(#$*$*$*$$&"
	//
     // }
       
       //	@PostMapping("/customer/change/password")
       
       function changePasswordByPassCode(){
    	   //Reading data
    	   var  tusernameEmail=$("#usernameOrEmail").val();
    	   var  tnewpassword=$("#newpassword").val();
    	   var  tpasscode=$("#passcode").val();
    	   
    	   //Create JavaScript object 
    	   var obj={loginid:tusernameEmail,passcode:tpasscode,newpassword:tnewpassword};
    	   
    	   //convert above object into JSON
    	   var jsonData=JSON.stringify(obj);
    	  
    	   //Creating 
    	   const options = {
                   method: 'POST',
                   body: jsonData,
                   headers: {
                     'Content-Type': 'application/json',
                     'Accept': 'application/json'
                   }
                 };
    	   
    	   var promise=fetch("/v3/customer/change/password",options);
    	   promise.then(response=>response.json())
    	   .then(function(data){
				 if(data.status=='fail'){
					 $("#errorMessage").html(data.message);
				 }else{
					 window.location.href="/customer/login";					 
				 }	
    	   });
    	   
       }
 
       function sendPasswordViaEmail(){
    	   var  usernameEmail=$("#usernameOrEmail").val();
    	   if(usernameEmail.length==0){
    		   $("#errorMessage").html("Userid or email cannot be empty");
    		   $("#usernameOrEmail").focus();
    		   return;
    	   }
    	   //make ajax call
    	   //usernameOrEmail="+usernameEmail sending data as query string
	        var promise= fetch("/v3/customer/passcode?usernameOrEmail="+usernameEmail); 	
	        promise.then(response=>response.json()).then(function(data){
	        	console.log(data);
	        	$("#mmessage").html(data.message);
	        });
       }
 
 </script>

</head>
<body>
<header style="height: 30px;background-color: maroon;">
</header>
<div class="container">
  <h2>Customer Forget Password
  </h2>
  <img th:src="@{/images/security_questions.png}" alt="Logo" style="height: 140px"/>
   <br/>
   
     
      <span id="mmessage" th:utext="${message}" style="color: blue;font-size: 18px;font-weight: bold;"></span>
      
  <div style="width: 70%">
   
   <form th:action="@{/customer/sendForgetPassword}" method="POST">
    <div class="form-group">
      <label for="cp"><b>Username or Email</b></label>
    
        <input onkeyup="clearMsg();" type="text"  class="form-control"  id="usernameOrEmail"   name="usernameOrEmail">
      <span id="errorMessage" th:utext="${error}" style="color: red;font-size: 18px;"></span>
    
    </div>
    
    <button type="button" onclick="sendPasswordViaEmail();"   name="forgetButton" value="FP" class="btn btn-primary">Forget Password</button>
    
   <a th:href="@{/customer/login}"> 
    <button type="button" class="btn btn-warning">Back</button>
    </a>
    
     <hr/>
     <div class="form-group">
      <label for="cp"><b>New Password</b></label>
        <input type="password"  class="form-control"   name="newpassword" id="newpassword">
    </div>
    
    <div class="form-group">
      <label for="cp"><b>Pass Code</b></label>
        <input type="text"  class="form-control"   name="passcode" id="passcode">
    </div>
    
    <button type="button" name="forgetButton" value="GP" class="btn btn-success" onclick="changePasswordByPassCode();">Update Password</button>
        
  </form>
  </div>
</div>
<footer  class="ffooter">
</footer>

</body>
</html>
