<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Fund Transfer Review Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <style>
.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>

<script type="text/javascript">


	function loadData(){
	
	var username = $("#user").html();
	

	fetch("/v3/customer/from-to-accounts?loginid="+username).then(response=>response.json()).then(function(data){
		console.log(data);
		
		$("#fromAccount").append(
				$("<option/>").val(data.fromAccount).text(data.fromAccount));
		
		var arrayData = data.toAccounts;
		
		for(var x=0;x<arrayData.length;x++){
			
			$("#toAccount").append($("<option/>").val(arrayData[x]).text(arrayData[x]));
		}
		
		$("#cbalance").html(data.currentBalance);
	
})
	}
	
	

</script>
</head>
<body>
<header style="height: 30px;background-color: maroon;color:white;">
 
</header>
<span id="user" th:utext="${session.userSessionVO.username}" th:unless="${session == null}" style="font-weight: bold;"></span>
<!--  Hello Mr. --> <!-- <span th:utext="${session.userSessionVO.username}" th:unless="${session == null}" style="font-weight: bold;"></span> -->
<div class="container">
 <br/>
 <br/>

<a th:href="@{/customer/payeeStatus}">
<button type="button" class="btn btn-success">Pending payee</button>
</a>

 <a th:href="@{/customer/logout}"><button type="button" class="btn btn-warning">Logout</button></a>
 <br/>
 <br/>
  
 <div style="width: 100%">
  
   <form th:action="@{/customer/fundTransfer}" method="POST"  th:object="${fundTransferVO}" name="fundTransferForm">
    
    <div >
     <span id="errorMessage" th:utext="${error}" style="color: red;font-size: 14px;"></span>
    <span id="errorMessage" th:utext="${successMessage}" style="color: blue;font-size: 14px;"></span>
  </div>
    <br/>
    <span id="cBalance">Current Balance:</span>
    <table class="table table-bordered" style="width: 100%;">


						<tr>
							<td style="width: 50%">

								<div>
									<label for="fromAccount">From AccountNo:
									
									&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
									
									Current Balance: <span id="cbalance" style="color:red;"></span>
									</label> <br /> 
									<select name="fromAccount" class="form-control" id="fromAccount"></select>
								</div>
							</td>
							<td style="width: 50%">
								<div>
									<label for="toAccount">To Account:</label> <br /> 
									<select name="toAccount" class="form-control" id="toAccount" style="font-weight: bold;">
									    <option>Select</option>
									</select>
									<!-- <input
										type="text" class="form-control" th:field="*{payeeNickName}"> -->
								</div>

							</td>
							</tr>
							
							<tr>
								<td>

									<div>
										<label for="Amount">Amount:									
									</label> <br />
									<input type="text" class="form-control" th:field="*{amount}" readonly="readonly">
									<span id="amountWord" style="color:blue;"></span>
								</div>

							</td>
							<td>&nbsp;
								<img src="" id="cphoto" style="height:120px;">
							</td>
						</tr>


						<tr>
							<td>

								<div>
									<label for="remarks">Remarks:</label> <br /> <input type="text"
										 class="form-control" id="remark" placeholder="Remarks" 
										name="remarks" th:field="*{remarks}" readonly="readonly">
										<!-- <span th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}">Name Error</span> -->
								</div>
							</td>
						</tr>

					</table>
					<hr/>

   <br/>
 
    <button type="button" id="submitButton" onclick="validateForm();" class="btn btn-primary">Transfer</button>
   
  </form>
  </div>
</div>
<footer  class="ffooter">
</footer>

</body>
</html>
