<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Send Registration Link</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
 <body>
    <p th:text="${'Hello Customer ' + name + '! '}"></p>
     <hr/>  
    <p>
      Your enquiry has been approved on  <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>
      and please click on below link to  complete your registration , this link is only valid for 72 hrs.
    </p>
       <p>	   	
   	        <a th:href="${registrationlink}">Registration link</a>
   	 </p>
    <p>
        <img th:src="|cid:cb|" />
    </p>
      Regards, <br />
      <em th:text="${sign}"></em>
      <p th:text="${location}"></p>
      <img th:src="|cid:bankIcon|" />
  </body>
</html>